* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #000;
}

.container {
	position: relative;
	width: 1000px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container .icon {
	width: 400px;
}

.container .icon path {
	fill: transparent;
	stroke: 10;
	stroke: #39ff14;
}

.container .icon.paddys path {
	stroke-dasharray: 3450;
	stroke-dashoffset: 3450;
}
