* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #000;
}

.content {
	position: relative;
}

.content h2 {
	position: absolute;

	transform: translate(-50%, -50%);
	font-size: 8em;
}

.content h2:nth-child(1) {
	color: transparent;
	-webkit-text-stroke: 2px #2ed5ff;
}

.content h2:nth-child(2) {
	color: #2ed5ff;
	animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
	/* https://bennettfeely.com/clippy/ */
	0%,
	100% {
		clip-path: polygon(0 100%, 100% 100%, 100% 21%, 53% 65%, 0 81%);
	}
	50% {
		/* wave - polygon */
		clip-path: polygon(0 100%, 100% 100%, 100% 54%, 53% 65%, 0 43%);
		/* need improve wave polygon  */
	}
}
